# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
env/
venv/
.venv/
.pytest_cache/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/dags/__pycache__/

# DBT
dbt/target/

# Terraform
terraform/.terraform/
terraform/terraform.tfstate*
terraform/.terraform.lock.hcl

# System
.DS_Store
